/********** Base styles **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 15px;
    text-align: center;
    font-size: 1.75em;
    text-decoration: underline;
}

section {
    background-color: mistyrose;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    position: relative;
    border-radius: 15px;
    box-shadow: 3px 5px;

}

.title {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    padding: 7px;
    border-radius: 0px 15px 0px 15px;
    width: 100px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

.chicken {
    background-color: darksalmon;
}

.beef {
    background-color: chocolate;
    color: white;
}

.sushi {
    background-color: burlywood;
}

.lowered {
    margin-top: 32px;
}

body {
    font-family: cursive;
    background-color: bisque;
}

.row {
    width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        width: calc(33.33% - 64px);
        float: left;
    }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }

    .col-md-6 {
        width: calc(50% - 64px);
    }

    .col-md-12 {
        width: calc(100% - 64px);
    }
}
